@charset "UTF-8";
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
:root {
  --white-color: #f3f4f8;
  --grey: #999;
  --border-color: #e1e3e1;
  --rounding: 8px;
  --sec: 0.4s;
  --shadow-button: 0 0 5px rgba(0, 0, 0, 0.2);
  --shadow-card: 0 5px 10px rgba(0, 0, 0, 0.1);
  --shadow-card-active: 0 1px 5px rgba(0, 0, 0, 0.08);
}

body {
  --text-color: #333;
  --bg-color: #f3f4f8;
  --blue-color: #37a1f2;
  --red-color: #f34639;
  --green-color: #00aa2b;
}

body.dark {
  --text-color: #f3f4f8;
  --bg-color: #2f455a;
  --blue-color: #2a7cbb;
  --red-color: #dc3545;
  --green-color: #198754;
}

body.dark {
  background-color: #2f455a;
  color: #f3f4f8;
  caret-color: #37a1f2; /* цвет курсора */
}
body.dark::-webkit-scrollbar-track {
  background: #2f455a; /* цвет зоны отслеживания */
}
body.dark::-webkit-scrollbar-thumb {
  background-color: #2a7cbb; /* цвет бегунка */
}
body.dark ::-moz-selection {
  background: #37a1f2; /* цвет выделения текст */
}
body.dark ::selection {
  background: #37a1f2; /* цвет выделения текст */
}
body.dark .navigation {
  background: #2a7cbb;
  border-left: 10px solid #2a7cbb;
}
body.dark .navigation ul li:hover, body.dark .navigation ul li.hovered {
  background: #2f455a;
}
body.dark .navigation ul li:hover a, body.dark .navigation ul li.hovered a {
  color: #f3f4f8;
}
body.dark .navigation ul li:hover a::before, body.dark .navigation ul li.hovered a::before {
  box-shadow: 35px 35px 0 10px #2f455a;
}
body.dark .navigation ul li:hover a::after, body.dark .navigation ul li.hovered a::after {
  box-shadow: 35px -35px 0 10px #2f455a;
}
body.dark .container-layout .main .topbar {
  background: #2f455a;
}
body.dark blockquote {
  background: #2a7cbb;
}

.btn {
  background: transparent;
  color: #333;
  border-radius: 50px;
  border-width: 2px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-wrap: nowrap;
  transition: background-color 0.4s, box-shadow 0.4s, color 0.4s, border 0.4s;
  min-width: 150px;
}
.btn i {
  margin-right: 6px;
  transition: 0.4s;
}
.btn:hover {
  color: #f3f4f8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.btn:hover i {
  color: #f3f4f8;
}
.btn:active {
  color: #f3f4f8 !important;
  translate: 0 1px;
  box-shadow: none;
}
.btn:active i {
  color: #f3f4f8;
}
.btn.btn-primary {
  border-color: #37a1f2;
}
.btn.btn-primary i {
  color: #37a1f2;
}
.btn.btn-primary:hover {
  background-color: #37a1f2;
  border-color: #37a1f2;
}
.btn.btn-primary:hover i {
  color: #f3f4f8;
}
.btn.btn-primary:active {
  background-color: #37a1f2 !important;
  border-color: #37a1f2 !important;
}
.btn.btn-success {
  border-color: #37a1f2;
}
.btn.btn-success i {
  color: #37a1f2;
}
.btn.btn-success:hover {
  background-color: #00aa2b;
  border-color: #00aa2b;
}
.btn.btn-success:hover i {
  color: #f3f4f8;
}
.btn.btn-success:active {
  background-color: #00aa2b !important;
  border-color: #00aa2b !important;
}
.btn.btn-danger {
  border-color: #37a1f2;
}
.btn.btn-danger i {
  color: #37a1f2;
}
.btn.btn-danger:hover {
  background-color: #f34639;
  border-color: #f34639;
}
.btn.btn-danger:hover i {
  color: #f3f4f8;
}
.btn.btn-danger:active {
  background-color: #f34639 !important;
  border-color: #f34639 !important;
}

body.dark .btn {
  color: #f3f4f8;
}
body.dark .btn.btn-primary {
  border-color: #2a7cbb;
}
body.dark .btn.btn-primary i {
  color: #2a7cbb;
}
body.dark .btn.btn-primary:hover {
  background-color: #2a7cbb;
  border-color: #2a7cbb;
}
body.dark .btn.btn-primary:hover i {
  color: #f3f4f8;
}
body.dark .btn.btn-primary:active {
  background-color: #2a7cbb !important;
  border-color: #2a7cbb !important;
}
body.dark .btn.btn-success {
  border-color: #2a7cbb;
}
body.dark .btn.btn-success i {
  color: #2a7cbb;
}
body.dark .btn.btn-success:hover {
  background-color: #198754;
  border-color: #198754;
}
body.dark .btn.btn-success:hover i {
  color: #f3f4f8;
}
body.dark .btn.btn-success:active {
  background-color: #198754 !important;
  border-color: #198754 !important;
}
body.dark .btn.btn-danger {
  border-color: #2a7cbb;
}
body.dark .btn.btn-danger i {
  color: #2a7cbb;
}
body.dark .btn.btn-danger:hover {
  background-color: #dc3545;
  border-color: #dc3545;
}
body.dark .btn.btn-danger:hover i {
  color: #f3f4f8;
}
body.dark .btn.btn-danger:active {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.card {
  height: 100%;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.card .card-header,
.card .card-footer {
  background: #37a1f2;
  color: #f3f4f8;
  border: none;
}
.card .card-body {
  background: #f3f4f8;
  color: #333;
  padding: 26px;
}
.card .card-body a {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.card .card-body a:last-of-type {
  margin-bottom: 0;
}
.card .card-body a:active {
  translate: 0 1px;
}
.card .card-body a:hover {
  border-bottom: 1px solid #e1e3e1;
}
.card .card-body a .document-details {
  display: flex;
  flex-direction: column;
}
.card .card-body a .document-details p {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-bottom: 0;
}
.card .card-body a .document-details small {
  color: #333;
}
.card .card-body a .document-details small span {
  margin-left: 6px;
}
.card .card-body a .document-date {
  flex-shrink: 0;
}
.card .card-body .no-data {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #f34639;
}

body.dark .card .card-header,
body.dark .card .card-footer {
  background: #2a7cbb;
  color: #f3f4f8;
}
body.dark .card .card-body {
  background: #2f455a;
  color: #f3f4f8;
}
body.dark .card .card-body .document-details small {
  color: #f3f4f8;
}
body.dark .card .card-body .no-data {
  color: #dc3545;
}

.search {
  position: relative;
  width: 500px;
  margin: 0 10px;
}
.search input {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 6px 20px 6px 40px;
  font-size: 1.125rem;
  outline: none;
  border: 1px solid #e1e3e1;
  background: #f3f4f8;
  color: #333;
  transition: 0.4s;
}
.search input:focus {
  border: 1px solid #37a1f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.search input::-moz-placeholder {
  font-size: 0.875em;
  text-align: center;
}
.search input::placeholder {
  font-size: 0.875em;
  text-align: center;
}
.search i {
  position: absolute;
  left: 15px;
  top: 30%;
  font-size: 1.2em;
  color: #999;
}

body.dark .search input {
  background: #2f455a;
  color: #f3f4f8;
}
body.dark .search input:focus {
  border: 1px solid #2a7cbb;
}

#breadcrumb {
  padding-left: 3rem;
}
#breadcrumb li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  background-color: #37a1f2;
}
#breadcrumb li a {
  color: #f3f4f8;
}
#breadcrumb li:before, #breadcrumb li:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
#breadcrumb li + li {
  margin-left: 2px;
}
#breadcrumb li + li:before {
  left: 0;
  top: 0;
  border-top: 13px solid transparent;
  border-left: 13px solid #f3f4f8;
  border-bottom: 13px solid transparent;
}
#breadcrumb li:first-child {
  border-radius: 13px 0 0 13px;
}
#breadcrumb li:last-child {
  border-radius: 0 13px 13px 0;
}
#breadcrumb li:last-child a {
  cursor: default;
}
#breadcrumb li:not(:last-child) {
  padding-right: 13px;
}
#breadcrumb li:not(:last-child):after {
  z-index: 1;
  right: -13px;
  bottom: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid #37a1f2;
}
#breadcrumb li:has(a:hover):not(:last-child) {
  background: color-mix(in srgb, var(--blue-color) 80%, transparent);
}
#breadcrumb li:has(a:hover):not(:last-child):after {
  border-left-color: color-mix(in srgb, var(--blue-color) 80%, transparent);
}
#breadcrumb li:has(a:active):not(:last-child) {
  background: color-mix(in srgb, var(--blue-color) 70%, transparent);
}
#breadcrumb li:has(a:active):not(:last-child):after {
  border-left-color: color-mix(in srgb, var(--blue-color) 70%, transparent);
}
#breadcrumb li:has(a:active):not(:last-child) a {
  display: block;
  translate: 0 1px;
}

body.dark #breadcrumb li {
  background-color: #2a7cbb;
}
body.dark #breadcrumb li a {
  color: #f3f4f8;
}
body.dark #breadcrumb li + li:before {
  border-top: 13px solid transparent;
  border-left: 13px solid #2f455a;
  border-bottom: 13px solid transparent;
}
body.dark #breadcrumb li:not(:last-child):after {
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid #2a7cbb;
}
body.dark #breadcrumb li:has(a:hover):not(:last-child) {
  background-color: color-mix(in srgb, var(--blue-color) 80%, transparent);
}
body.dark #breadcrumb li:has(a:hover):not(:last-child):after {
  border-left-color: color-mix(in srgb, var(--blue-color) 80%, transparent);
}
body.dark #breadcrumb li:has(a:active):not(:last-child) {
  background-color: color-mix(in srgb, var(--blue-color) 70%, transparent);
}
body.dark #breadcrumb li:has(a:active):not(:last-child):after {
  border-left-color: color-mix(in srgb, var(--blue-color) 70%, transparent);
}

#table_wrapper select,
#table_wrapper input {
  border-radius: 8px;
  border-color: #e1e3e1;
  transition: 0.4s;
}
#table_wrapper select:focus,
#table_wrapper input:focus {
  border-color: #37a1f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#table_wrapper select {
  margin: 0 8px;
}
#table_wrapper input {
  margin-left: 8px;
}
#table_wrapper table {
  width: 100%;
  border-collapse: separate;
}
#table_wrapper table thead tr th:first-child {
  border-radius: 8px 0 0 0;
}
#table_wrapper table thead tr th:last-child {
  border-radius: 0 8px 0 0;
}
#table_wrapper table tr:last-child td:first-child {
  border-radius: 0 0 0 8px;
}
#table_wrapper table tr:last-child td:last-child {
  border-radius: 0 0 8px 0;
}
#table_wrapper table thead > tr > th {
  border-bottom: none !important;
}
#table_wrapper table thead > tr > th {
  background-color: #37a1f2 !important;
  color: #f3f4f8 !important;
}
#table_wrapper table tr th:first-child,
#table_wrapper table tr td:first-child {
  border-left: 1px solid #37a1f2;
}
#table_wrapper table tr th:last-child,
#table_wrapper table tr td:last-child {
  border-right: 1px solid #37a1f2;
}
#table_wrapper table tbody tr:last-child td {
  border-bottom: 1px solid #37a1f2 !important;
}
#table_wrapper table > :not(caption) > * > * {
  background-color: transparent;
}
#table_wrapper [aria-label=pagination] .dt-paging-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 8px;
}
#table_wrapper [aria-label=pagination] .dt-paging-button.current {
  background: transparent;
  border: 1px solid #37a1f2;
  cursor: default;
}
#table_wrapper [aria-label=pagination] .dt-paging-button.disabled {
  color: #999 !important;
}
#table_wrapper [aria-label=pagination] .dt-paging-button:hover:not(.current, .disabled) {
  background: #37a1f2;
  border: 1px solid transparent;
}

body.dark #table_wrapper select:focus,
body.dark #table_wrapper input:focus {
  border-color: #2a7cbb;
}
body.dark #table_wrapper select option {
  background: #2f455a;
}
body.dark #table_wrapper table thead > tr > th {
  background-color: #2a7cbb !important;
  color: #f3f4f8 !important;
}
body.dark #table_wrapper table tr th:first-child,
body.dark #table_wrapper table tr td:first-child {
  border-left: 1px solid #2a7cbb;
}
body.dark #table_wrapper table tr th:last-child,
body.dark #table_wrapper table tr td:last-child {
  border-right: 1px solid #2a7cbb;
}
body.dark #table_wrapper table tbody tr:last-child td {
  border-bottom: 1px solid #2a7cbb !important;
}
body.dark #table_wrapper table > :not(caption) > * > * {
  color: #f3f4f8;
}
body.dark #table_wrapper [aria-label=pagination] .dt-paging-button.current {
  border: 1px solid #2a7cbb;
}
body.dark #table_wrapper [aria-label=pagination] .dt-paging-button:hover:not(.current, .disabled) {
  background: #2a7cbb;
}

.slide-buttons {
  position: fixed;
  top: 150px;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
}
.slide-buttons .slide-button {
  position: relative;
  left: calc(100% - 40px);
  display: flex;
  font-weight: 500;
  background: #f3f4f8;
  border-style: solid;
  border-width: 2px;
  border-color: #37a1f2;
  border-right: none;
  border-radius: 50px 0 0 50px;
  transition: left 0.4s, transform 0.4s, box-shadow 0.4s, border-color 0.4s;
}
.slide-buttons .slide-button .icon,
.slide-buttons .slide-button .title {
  display: block;
  align-items: center;
  line-height: 44px;
}
.slide-buttons .slide-button .icon {
  min-width: 40px;
  height: 40px;
  text-align: center;
}
.slide-buttons .slide-button .title {
  padding: 0 20px 0 10px;
  height: 40px;
  white-space: nowrap;
  color: #333;
}
.slide-buttons .slide-button .icon i {
  color: #37a1f2;
  transition: color 0.4s;
}
.slide-buttons .slide-button:hover {
  transform: translateX(calc(-100% + 40px));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.slide-buttons .slide-button:hover .icon.edit i {
  color: #00aa2b;
}
.slide-buttons .slide-button:hover .icon.delete i {
  color: #f34639;
}
.slide-buttons .slide-button:hover:has(.edit) {
  border-color: #00aa2b;
}
.slide-buttons .slide-button:hover:has(.delete) {
  border-color: #f34639;
}
.slide-buttons .slide-button:active {
  translate: 0 1px;
  border-right: none;
  box-shadow: none;
}

body.dark .slide-buttons .slide-button {
  background: #2f455a;
  border: 2px solid #2a7cbb;
  border-right: none;
}
body.dark .slide-buttons .slide-button .title {
  color: #f3f4f8;
}
body.dark .slide-buttons .slide-button i {
  color: #2a7cbb;
}
body.dark .slide-buttons .slide-button:hover .icon.edit i {
  color: #198754;
}
body.dark .slide-buttons .slide-button:hover .icon.delete i {
  color: #dc3545;
}
body.dark .slide-buttons .slide-button:hover:has(.edit) {
  border-color: #198754;
}
body.dark .slide-buttons .slide-button:hover:has(.delete) {
  border-color: #dc3545;
}

.tabs-widget {
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 10px;
  background-color: #f3f4f8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.tabs-widget p {
  margin-bottom: 0;
}
.tabs-widget p:not(:last-child) {
  margin-block-end: 1em;
}
.tabs-widget .tabs {
  --tab-count: 3;
  --active: 0;
  position: relative;
  isolation: isolate;
  display: flex;
  height: 3.5rem;
  border-bottom: 1px solid #e1e3e1;
}
.tabs-widget .tabs input {
  display: none;
}
.tabs-widget .tabs label {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9375rem;
  font-weight: 600;
  color: gray;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}
.tabs-widget .tabs label:hover {
  color: #333;
}
.tabs-widget .tabs input:checked + label {
  color: #333;
}
.tabs-widget .tabs::after {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0 0 -1px;
  width: calc(100% / var(--tab-count) + 1px);
  border-radius: 8px 8px 0 0;
  border: 1px solid #e1e3e1;
  border-bottom: none;
  background-image: linear-gradient(#f9fafc, #f3f4f8);
  z-index: -1;
  /*
  	1st = 0 * 100% = 0%
  	2nd = 1 * 100% = 100%
  	3rd = 2 * 100% = 200%
  */
  translate: calc(var(--active) * 100%);
  transition: translate 0.4s ease-in-out;
}
.tabs-widget .tabs:has(:checked:nth-of-type(1)) {
  --active: 0;
}
.tabs-widget .tabs:has(:checked:nth-of-type(2)) {
  --active: 1;
}
.tabs-widget .tabs:has(:checked:nth-of-type(3)) {
  --active: 2;
}
.tabs-widget .tabs-content {
  padding: 1rem;
}
.tabs-widget [class^=tab-content-] {
  display: none;
  opacity: 0;
  overflow: hidden;
}
.tabs-widget [class^=tab-content-] p {
  animation: slideInOut 0.5s ease-in-out forwards 0.2s;
  opacity: 0;
  visibility: hidden;
}
.tabs-widget:has(:checked:nth-of-type(1)) .tab-content-1, .tabs-widget:has(:checked:nth-of-type(2)) .tab-content-2, .tabs-widget:has(:checked:nth-of-type(3)) .tab-content-3 {
  display: block;
  opacity: 1;
}

@keyframes slideInOut {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-200px);
  }
  50% {
    opacity: 0.5;
    visibility: visible;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
body.dark .tabs-widget {
  background-color: #2f455a;
}
body.dark .tabs-widget .tabs label {
  color: #929bc0;
}
body.dark .tabs-widget .tabs label:hover {
  color: #f3f4f8;
}
body.dark .tabs-widget .tabs input:checked + label {
  color: #f3f4f8;
}
body.dark .tabs-widget .tabs::after {
  border: 1px solid #e1e3e1;
  background-image: linear-gradient(#2c4053, #2f455a);
  border-bottom: none;
}

.alertify-notifier .ajs-message {
  color: #333 !important;
  text-shadow: none !important;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background: #f3f4f8 !important;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.alertify-notifier .ajs-message.ajs-message {
  border-color: #37a1f2;
}
.alertify-notifier .ajs-message.ajs-success {
  border-color: #00aa2b;
}
.alertify-notifier .ajs-message.ajs-error {
  border-color: #f34639;
}
.alertify-notifier .ajs-message.ajs-warning {
  border-color: #ffc107;
}

body.dark .alertify-notifier .ajs-message {
  color: #f3f4f8 !important;
  background: #2f455a !important;
}
body.dark .alertify-notifier .ajs-message.ajs-message {
  border-color: #2a7cbb;
}
body.dark .alertify-notifier .ajs-message.ajs-success {
  border-color: #198754;
}
body.dark .alertify-notifier .ajs-message.ajs-error {
  border-color: #dc3545;
}
body.dark .alertify-notifier .ajs-message.ajs-warning {
  border-color: #ffc107;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: #f3f4f8;
  color: #333;
  caret-color: #2a7cbb; /* цвет курсора */
}
body::-webkit-scrollbar {
  width: 8px; /* ширина всей полосы прокрутки */
}
body::-webkit-scrollbar-track {
  background: #f3f4f8; /* цвет зоны отслеживания */
}
body::-webkit-scrollbar-thumb {
  background-color: #37a1f2; /* цвет бегунка */
  border-radius: 50px; /* округлось бегунка */
}
body ::-moz-selection {
  background: #2a7cbb;
  color: #f3f4f8;
}
body ::selection {
  background: #2a7cbb;
  color: #f3f4f8;
}

a {
  text-decoration: none;
  color: #37a1f2;
  transition: color 0.4s;
}
a:hover {
  color: #0f89e7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  text-transform: uppercase;
  text-align: center;
}

li {
  list-style: none;
}

input,
select {
  outline: none;
}

:root {
  --min-column-width: 200px; /* default value */
}

.group-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-column-width), 1fr));
  gap: 1.5rem;
}

.group-container {
  padding-bottom: 1rem;
}

.container-layout {
  position: relative;
  width: 100%;
}
.container-layout .navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #37a1f2;
  border-left: 10px solid #37a1f2;
  transition: 0.4s;
  overflow: hidden;
}
.container-layout .navigation .logo {
  position: relative;
  margin: 0.75rem 0 1.5rem;
}
.container-layout .navigation .logo a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-layout .navigation .logo .icon {
  display: block;
  text-align: center;
}
.container-layout .navigation .logo .icon i {
  font-size: 3rem;
  color: #f3f4f8;
}
.container-layout .navigation .logo .title,
.container-layout .navigation .logo .subtitle {
  white-space: nowrap;
  color: #f3f4f8;
}
.container-layout .navigation .logo .title {
  margin-top: 1rem;
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.container-layout .navigation .logo .subtitle {
  font-size: 0.875em;
}
.container-layout .navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 1rem;
}
.container-layout .navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-radius: 30px 0 0 30px;
}
.container-layout .navigation ul li a {
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #f3f4f8;
  transition: none;
}
.container-layout .navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 50px;
  line-height: 56px;
  text-align: center;
}
.container-layout .navigation ul li a .icon i {
  font-size: 1.25em;
}
.container-layout .navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 50px;
  line-height: 54px;
  white-space: nowrap;
}
.container-layout .navigation ul li:hover, .container-layout .navigation ul li.hovered {
  background: #f3f4f8;
}
.container-layout .navigation ul li:hover a, .container-layout .navigation ul li.hovered a {
  color: #37a1f2;
}
.container-layout .navigation ul li:hover a::before, .container-layout .navigation ul li:hover a::after, .container-layout .navigation ul li.hovered a::before, .container-layout .navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
}
.container-layout .navigation ul li:hover a::before, .container-layout .navigation ul li.hovered a::before {
  top: -50px;
  box-shadow: 35px 35px 0 10px #f3f4f8;
}
.container-layout .navigation ul li:hover a::after, .container-layout .navigation ul li.hovered a::after {
  bottom: -50px;
  box-shadow: 35px -35px 0 10px #f3f4f8;
}
.container-layout .navigation .nav-bottom-icons {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.container-layout .navigation .nav-bottom-icons .dark-light-mode-icon {
  display: flex;
  cursor: pointer;
}
.container-layout .navigation .nav-bottom-icons .dark-light-mode-icon .icon {
  border-radius: 50px;
  border: 1px solid transparent;
}
.container-layout .navigation .nav-bottom-icons .dark-light-mode-icon .icon:not(.show) {
  display: none;
}
.container-layout .navigation .nav-bottom-icons .dark-light-mode-icon .icon:hover {
  border: 1px solid #e1e3e1;
}
.container-layout .navigation .nav-bottom-icons .dark-light-mode-icon .icon:active {
  border: 1px solid #97cef8;
}
.container-layout .navigation .nav-bottom-icons .log-out {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #f3f4f8;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50px;
}
.container-layout .navigation .nav-bottom-icons .log-out .log-out-text {
  padding-left: 15px;
}
.container-layout .navigation .nav-bottom-icons .log-out:hover {
  border: 1px solid #e1e3e1;
}
.container-layout .navigation .nav-bottom-icons .log-out:active {
  border: 1px solid #97cef8;
}
.container-layout .navigation .nav-bottom-icons .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 50px;
  line-height: 54px;
  text-align: center;
}
.container-layout .navigation .nav-bottom-icons .icon i {
  font-size: 1.25em;
  color: #f3f4f8;
}
.container-layout .navigation.active {
  width: 70px;
}
.container-layout .navigation.active .logo {
  padding-right: 10px;
}
.container-layout .navigation.active .logo .title,
.container-layout .navigation.active .logo .subtitle {
  visibility: hidden;
}
.container-layout .navigation.active ul,
.container-layout .navigation.active .nav-bottom-icons {
  padding: 0;
  flex-direction: column;
}
.container-layout .navigation.active ul .log-out,
.container-layout .navigation.active .nav-bottom-icons .log-out {
  padding: 0;
  width: 50px;
  height: 50px;
}
.container-layout .navigation.active ul .log-out .log-out-text,
.container-layout .navigation.active .nav-bottom-icons .log-out .log-out-text {
  display: none;
}
.container-layout .navigation.active .nav-bottom-icons {
  padding-right: 10px;
}
.container-layout .main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100dvh;
  transition: 0.4s;
}
.container-layout .main .topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #e1e3e1;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  background: #f3f4f8;
  z-index: 2;
}
.container-layout .main .topbar .toggle,
.container-layout .main .topbar .user {
  flex: 0.5;
}
.container-layout .main .topbar .toggle {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.875em;
}
.container-layout .main .topbar .toggle i {
  cursor: pointer;
}
.container-layout .main .topbar .user {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.container-layout .main .topbar .user .user-img {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.container-layout .main .topbar .user .user-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-layout .main .footer {
  position: relative;
}
.container-layout .main .footer .copyright {
  padding: 4px;
  margin-bottom: 0;
  text-align: center;
  font-size: 0.75rem;
}
.container-layout .main .footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: #e1e3e1;
}
.container-layout .main.active {
  width: calc(100% - 70px);
  left: 70px;
}
.container-layout .main section h2 {
  padding: 2rem;
}
.container-layout .main #table_wrapper {
  margin: 50px 0;
}
.container-layout blockquote {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 28px;
  margin-left: auto;
  background: #37a1f2;
  color: #f3f4f8;
  font-size: 0.875rem;
  border-radius: 8px;
}
.container-layout blockquote strong {
  margin-right: 6px;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */