@charset "UTF-8";
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
:root {
  --white-color: #f3f4f8;
  --yellow-color: #ffc107;
  --grey-color: #999;
  --border-color: #e1e3e1;
  --rounding: 8px;
  --sec: 0.4s;
  --shadow-button: 0 0 5px rgba(0, 0, 0, 0.2);
  --shadow-card: 0 5px 10px rgba(0, 0, 0, 0.1);
  --shadow-card-active: 0 1px 5px rgba(0, 0, 0, 0.08);
}

body {
  --text-color: #333;
  --bg-color: #f3f4f8;
  --blue-color: #37a1f2;
  --blue-color-inverted: #2a7cbb;
  --red-color: #f34639;
  --green-color: #00aa2b;
  --full-color: #fff;
}

body.dark {
  --text-color: #f3f4f8;
  --bg-color: #2f455a;
  --blue-color: #2a7cbb;
  --blue-color-inverted: #37a1f2;
  --red-color: #dc3545;
  --green-color: #198754;
  --full-color: #000;
}

.text-color {
  color: var(--text-color);
}

.bg-color {
  background-color: var(--bg-color);
}

.text-blue {
  color: var(--blue-color);
}

.bg-blue {
  background: var(--blue-color);
}

.text-blue-inverted {
  color: var(--blue-color-inverted);
}

.bg-blue-inverted {
  background: var(--blue-color-inverted);
}

.text-white {
  color: var(--white-color);
}

.bg-white {
  background: var(--white-color);
}

.text-yellow {
  color: var(--yellow-color);
}

.bg-yellow {
  background: var(--yellow-color);
}

.text-grey {
  color: var(--grey-color);
}

.bg-grey {
  background: var(--grey-color);
}

.text-red {
  color: var(--red-color);
}

.bg-red {
  background: var(--red-color);
}

.text-green {
  color: var(--green-color);
}

.bg-green {
  background: var(--green-color);
}

.fancy-scroll {
  overflow-y: auto;
}
.fancy-scroll::-webkit-scrollbar {
  width: 8px;
}
.fancy-scroll::-webkit-scrollbar-track {
  background: var(--bg-color);
}
.fancy-scroll::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 50px;
}

.grid-container {
  --min-column-width: 100px; /* default value */
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-column-width), 1fr));
  gap: 1.5rem;
}

.btn {
  background: transparent;
  color: var(--text-color);
  border-radius: 50px;
  border-width: 2px;
  border-color: var(--blue-color);
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-wrap: nowrap;
  transition: background-color var(--sec), box-shadow var(--sec), color var(--sec), border var(--sec);
  min-width: 150px;
}
.btn i {
  color: var(--blue-color);
  margin-right: 6px;
  transition: var(--sec);
}
.btn:hover {
  color: var(--white-color);
  box-shadow: var(--shadow-button);
}
.btn:hover i {
  color: var(--white-color);
}
.btn:active {
  color: var(--white-color) !important;
  translate: 0 1px;
  box-shadow: none;
}
.btn:active i {
  color: var(--white-color);
}
.btn.btn-primary:hover {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}
.btn.btn-primary:hover i {
  color: var(--white-color);
}
.btn.btn-primary:active {
  background-color: var(--blue-color) !important;
  border-color: var(--blue-color) !important;
}
.btn.btn-success:hover {
  background-color: var(--green-color);
  border-color: var(--green-color);
}
.btn.btn-success:hover i {
  color: var(--white-color);
}
.btn.btn-success:active {
  background-color: var(--green-color) !important;
  border-color: var(--green-color) !important;
}
.btn.btn-danger:hover {
  background-color: var(--red-color);
  border-color: var(--red-color);
}
.btn.btn-danger:hover i {
  color: var(--white-color);
}
.btn.btn-danger:active {
  background-color: var(--red-color) !important;
  border-color: var(--red-color) !important;
}

.card {
  height: 100%;
  border: none;
  background: var(--bg-color);
  box-shadow: var(--shadow-card);
  border-radius: var(--rounding);
  overflow: hidden;
}
.card .card-header,
.card .card-footer {
  background: var(--blue-color);
  color: var(--white-color);
  border: none;
}
.card .card-body {
  background: var(--bg-color);
  color: var(--text-color);
  padding: 26px;
}
.card .card-body a {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid transparent;
  transition: border-bottom var(--sec);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.card .card-body a:last-of-type {
  margin-bottom: 0;
}
.card .card-body a:active {
  translate: 0 1px;
}
.card .card-body a:hover {
  border-bottom: 1px solid var(--border-color);
}
.card .card-body a .document-details {
  display: flex;
  flex-direction: column;
}
.card .card-body a .document-details p {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-bottom: 0;
}
.card .card-body a .document-details small {
  color: var(--text-color);
}
.card .card-body a .document-details small span {
  margin-left: 6px;
}
.card .card-body a .document-date {
  flex-shrink: 0;
}
.card .card-body .no-data {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--red-color);
}

.search {
  position: relative;
  width: 500px;
  margin: 0 10px;
}
.search input {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 6px 20px 6px 40px;
  font-size: 1.125rem;
  outline: none;
  border: 1px solid var(--border-color);
  background: var(--bg-color);
  color: var(--text-color);
  transition: border var(--sec), box-shadow var(--sec);
}
.search input:focus {
  border: 1px solid var(--blue-color);
  box-shadow: var(--shadow-button);
}
.search input::-moz-placeholder {
  font-size: 0.875em;
  text-align: center;
}
.search input::placeholder {
  font-size: 0.875em;
  text-align: center;
}
.search i {
  position: absolute;
  left: 15px;
  top: 30%;
  font-size: 1.2em;
  color: var(--grey-color);
}

#breadcrumb {
  padding-left: 3rem;
}
#breadcrumb li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  background-color: var(--blue-color);
}
#breadcrumb li a {
  color: var(--white-color);
}
#breadcrumb li:before, #breadcrumb li:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
#breadcrumb li + li {
  margin-left: 2px;
}
#breadcrumb li + li:before {
  left: 0;
  top: 0;
  border-top: 13px solid transparent;
  border-left: 13px solid var(--bg-color);
  border-bottom: 13px solid transparent;
}
#breadcrumb li:last-child {
  border-radius: 0 13px 13px 0;
}
#breadcrumb li:last-child a {
  cursor: default;
}
#breadcrumb li:first-child {
  border-radius: 13px 0 0 13px;
}
#breadcrumb li:first-child:after {
  z-index: 1;
  right: -13px;
  bottom: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid var(--blue-color);
}
#breadcrumb li:not(:last-child) {
  padding-right: 13px;
}
#breadcrumb li:not(:last-child):after {
  z-index: 1;
  right: -13px;
  bottom: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid var(--blue-color);
}
#breadcrumb li:has(a:hover):not(:last-child) {
  background-color: #5db3f4;
}
#breadcrumb li:has(a:hover):not(:last-child):after {
  border-left-color: #5db3f4;
}
#breadcrumb li:has(a:active):not(:last-child) {
  background-color: #70bcf6;
}
#breadcrumb li:has(a:active):not(:last-child):after {
  border-left-color: #70bcf6;
}
#breadcrumb li:has(a:active):not(:last-child) a {
  display: block;
  translate: 0 1px;
}

body.dark #breadcrumb li:has(a:hover):not(:last-child) {
  background-color: #4396d5;
}
body.dark #breadcrumb li:has(a:hover):not(:last-child):after {
  border-left-color: #4396d5;
}
body.dark #breadcrumb li:has(a:active):not(:last-child) {
  background-color: #41a6f3;
}
body.dark #breadcrumb li:has(a:active):not(:last-child):after {
  border-left-color: #41a6f3;
}

#table_wrapper select,
#table_wrapper input {
  border-radius: var(--rounding);
  border-color: var(--border-color);
  transition: var(--sec);
}
#table_wrapper select:focus,
#table_wrapper input:focus {
  border-color: var(--blue-color);
  box-shadow: var(--shadow-button);
}
#table_wrapper select {
  margin: 0 8px;
}
#table_wrapper select option {
  background: var(--bg-color);
}
#table_wrapper input {
  margin-left: 8px;
}
#table_wrapper table {
  width: 100%;
  border-collapse: separate;
}
#table_wrapper table thead tr th:first-child {
  border-radius: var(--rounding) 0 0 0;
}
#table_wrapper table thead tr th:last-child {
  border-radius: 0 var(--rounding) 0 0;
}
#table_wrapper table tr:last-child td:first-child {
  border-radius: 0 0 0 var(--rounding);
}
#table_wrapper table tr:last-child td:last-child {
  border-radius: 0 0 var(--rounding) 0;
}
#table_wrapper table thead > tr > th {
  border-bottom: none !important;
}
#table_wrapper table thead > tr > th {
  background-color: var(--blue-color) !important;
  color: var(--white-color) !important;
}
#table_wrapper table tr th:first-child,
#table_wrapper table tr td:first-child {
  border-left: 1px solid var(--blue-color);
}
#table_wrapper table tr th:last-child,
#table_wrapper table tr td:last-child {
  border-right: 1px solid var(--blue-color);
}
#table_wrapper table tbody tr:last-child td {
  border-bottom: 1px solid var(--blue-color) !important;
}
#table_wrapper table > :not(caption) > * > * {
  background-color: transparent;
  color: var(--text-color);
}
#table_wrapper [aria-label=pagination] .dt-paging-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: var(--rounding);
}
#table_wrapper [aria-label=pagination] .dt-paging-button.current {
  background: transparent;
  border: 1px solid var(--blue-color);
  cursor: default;
}
#table_wrapper [aria-label=pagination] .dt-paging-button.disabled {
  color: var(--grey-color) !important;
}
#table_wrapper [aria-label=pagination] .dt-paging-button:hover:not(.current, .disabled) {
  background: var(--blue-color);
  border: 1px solid transparent;
}

.slide-buttons {
  position: fixed;
  top: 150px;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
}
.slide-buttons .slide-button {
  position: relative;
  left: calc(100% - 40px);
  display: flex;
  font-weight: 500;
  background: var(--bg-color);
  border-style: solid;
  border-width: 2px;
  border-color: var(--blue-color);
  border-right: none;
  border-radius: 50px 0 0 50px;
  transition: left var(--sec), transform var(--sec), box-shadow var(--sec), border-color var(--sec);
}
.slide-buttons .slide-button .icon,
.slide-buttons .slide-button .title {
  display: block;
  align-items: center;
  line-height: 44px;
}
.slide-buttons .slide-button .icon {
  min-width: 40px;
  height: 40px;
  text-align: center;
}
.slide-buttons .slide-button .title {
  padding: 0 20px 0 10px;
  height: 40px;
  white-space: nowrap;
  color: var(--text-color);
}
.slide-buttons .slide-button .icon i {
  color: var(--blue-color);
  transition: color var(--sec);
}
.slide-buttons .slide-button:hover {
  transform: translateX(calc(-100% + 40px));
  box-shadow: var(--shadow-button);
}
.slide-buttons .slide-button:hover .icon.edit i {
  color: var(--green-color);
}
.slide-buttons .slide-button:hover .icon.delete i {
  color: var(--red-color);
}
.slide-buttons .slide-button:hover:has(.edit) {
  border-color: var(--green-color);
}
.slide-buttons .slide-button:hover:has(.delete) {
  border-color: var(--red-color);
}
.slide-buttons .slide-button:active {
  translate: 0 1px;
  border-right: none;
  box-shadow: none;
}

.tabs-widget {
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 10px;
  background-color: var(--bg-color);
  box-shadow: var(--shadow-card);
}
.tabs-widget p {
  margin-bottom: 0;
}
.tabs-widget p:not(:last-child) {
  margin-block-end: 1em;
}
.tabs-widget .tabs {
  --tab-count: 3;
  --active: 0;
  position: relative;
  isolation: isolate;
  display: flex;
  height: 3.5rem;
  border-bottom: 1px solid var(--border-color);
}
.tabs-widget .tabs input {
  display: none;
}
.tabs-widget .tabs label {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9375rem;
  font-weight: 600;
  color: gray;
  cursor: pointer;
  transition: color var(--sec) ease-in-out;
}
.tabs-widget .tabs label:hover {
  color: var(--text-color);
}
.tabs-widget .tabs input:checked + label {
  color: var(--text-color);
}
.tabs-widget .tabs::after {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0 0 -1px;
  width: calc(100% / var(--tab-count) + 1px);
  border-radius: var(--rounding) var(--rounding) 0 0;
  border: 1px solid var(--border-color);
  border-bottom: none;
  background-image: linear-gradient(#f9fafc, #f3f4f8);
  z-index: -1;
  /*
  	1st = 0 * 100% = 0%
  	2nd = 1 * 100% = 100%
  	3rd = 2 * 100% = 200%
  */
  translate: calc(var(--active) * 100%);
  transition: translate var(--sec) ease-in-out;
}
.tabs-widget .tabs:has(:checked:nth-of-type(1)) {
  --active: 0;
}
.tabs-widget .tabs:has(:checked:nth-of-type(2)) {
  --active: 1;
}
.tabs-widget .tabs:has(:checked:nth-of-type(3)) {
  --active: 2;
}
.tabs-widget .tabs:has(:checked:nth-of-type(4)) {
  --active: 3;
}
.tabs-widget .tabs-content {
  padding: 1rem;
}
.tabs-widget [class^=tab-content-] {
  display: none;
  opacity: 0;
  overflow: hidden;
}
.tabs-widget [class^=tab-content-] p {
  animation: slideInOut 0.5s ease-in-out forwards 0.2s;
  opacity: 0;
  visibility: hidden;
}
.tabs-widget:has(:checked:nth-of-type(1)) .tab-content-1, .tabs-widget:has(:checked:nth-of-type(2)) .tab-content-2, .tabs-widget:has(:checked:nth-of-type(3)) .tab-content-3, .tabs-widget:has(:checked:nth-of-type(4)) .tab-content-4 {
  display: block;
  opacity: 1;
}

@keyframes slideInOut {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-200px);
  }
  50% {
    opacity: 0.5;
    visibility: visible;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
body.dark .tabs-widget .tabs label {
  color: #929bc0;
}
body.dark .tabs-widget .tabs label:hover {
  color: #f3f4f8;
}
body.dark .tabs-widget .tabs input:checked + label {
  color: #f3f4f8;
}
body.dark .tabs-widget .tabs::after {
  background-image: linear-gradient(#2c4053, #2f455a);
  border-bottom: none;
}

.alertify-notifier .ajs-message {
  color: var(--text-color) !important;
  text-shadow: none !important;
  font-weight: 500;
  border: none;
  border-radius: var(--rounding);
  background: var(--bg-color) !important;
  border-style: solid;
  border-width: 2px;
  box-shadow: var(--shadow-card);
  position: relative;
  text-align: start;
}
.alertify-notifier .ajs-message::before {
  content: "";
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin-right: 6px;
}
.alertify-notifier .ajs-message.ajs-message {
  border-color: var(--blue-color);
}
.alertify-notifier .ajs-message.ajs-message::before {
  background-image: url("../../img/message-light.svg");
}
.alertify-notifier .ajs-message.ajs-success {
  border-color: var(--green-color);
}
.alertify-notifier .ajs-message.ajs-success::before {
  background-image: url("../../img/success-light.svg");
}
.alertify-notifier .ajs-message.ajs-error {
  border-color: var(--red-color);
}
.alertify-notifier .ajs-message.ajs-error::before {
  background-image: url("../../img/error-light.svg");
}
.alertify-notifier .ajs-message.ajs-warning {
  border-color: var(--yellow-color);
}
.alertify-notifier .ajs-message.ajs-warning::before {
  background-image: url("../../img/warning.svg");
}

body.dark .alertify-notifier.ajs-message::before {
  background-image: url("../../img/message-dark.svg");
}
body.dark .alertify-notifier.ajs-success::before {
  background-image: url("../../img/success-dark.svg");
}
body.dark .alertify-notifier .ajs-message.ajs-error::before {
  background-image: url("../../img/error-dark.svg");
}

#autocomplete {
  max-width: 500px;
  margin: 0 auto;
}

.autocomplete-input {
  background-color: var(--bg-color);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Im0yMSAyMS00LTQiLz48L3N2Zz4=");
  background-position: 12px;
  background-repeat: no-repeat;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: var(--rounding);
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 12px 12px 48px;
  position: relative;
  width: 100%;
}

.autocomplete-input:focus,
.autocomplete-input[aria-expanded=true] {
  background-color: var(--bg-color);
  border-color: var(--border-color);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  outline: none;
}

[data-position=below] .autocomplete-input[aria-expanded=true] {
  border-bottom-color: transparent;
  border-radius: var(--rounding) var(--rounding) 0 0;
}

[data-position=above] .autocomplete-input[aria-expanded=true] {
  border-radius: 0 0 var(--rounding) var(--rounding);
  border-top-color: transparent;
  z-index: 2;
}

.autocomplete[data-loading=true]:after {
  animation: rotate 1s linear infinite;
  border: 3px solid rgba(0, 0, 0, 0.12);
  border-radius: 100%;
  border-right-color: rgba(0, 0, 0, 0.48);
  content: "";
  height: 20px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

.autocomplete-result-list {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  max-height: 296px;
  overflow-y: auto;
  padding: 0;
}

[data-position=below] .autocomplete-result-list {
  border-radius: 0 0 var(--rounding) var(--rounding);
  border-top-color: transparent;
  margin-top: -1px;
  padding-bottom: 8px;
}

[data-position=above] .autocomplete-result-list {
  border-bottom-color: transparent;
  border-radius: var(--rounding) var(--rounding) 0 0;
  margin-bottom: -1px;
  padding-top: 8px;
}

.autocomplete-result {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjY2NjIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Im0yMSAyMS00LTQiLz48L3N2Zz4=");
  background-position: 12px;
  background-repeat: no-repeat;
  padding: 12px 12px 12px 48px;
  cursor: pointer;
}

.autocomplete-result:hover,
.autocomplete-result[aria-selected=true] {
  background-color: rgba(0, 0, 0, 0.06);
}

@keyframes rotate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(359deg);
  }
}
body.dark .autocomplete-input {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjY2NjIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Im0yMSAyMS00LTQiLz48L3N2Zz4=");
}
body.dark .autocomplete-result {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Im0yMSAyMS00LTQiLz48L3N2Zz4=");
}
body.dark .autocomplete[data-loading=true]:after {
  border: 3px solid rgba(255, 255, 255, 0.12);
  border-right-color: rgba(255, 255, 255, 0.48);
}

.back-to-top {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  color: var(--white-color);
  background: var(--blue-color);
  transition: var(--sec);
}
.back-to-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.back-to-top:hover {
  background: #5db3f4;
  color: var(--white-color);
  box-shadow: var(--shadow-button);
}
.back-to-top:active {
  translate: 0 1px;
  box-shadow: none;
}

body.dark .back-to-top:hover {
  background: #4396d5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  caret-color: var(--blue-color-inverted); /* цвет курсора */
}
body::-webkit-scrollbar {
  width: 8px; /* ширина всей полосы прокрутки */
}
body::-webkit-scrollbar-track {
  background: var(--bg-color); /* цвет зоны отслеживания */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--blue-color); /* цвет бегунка */
  border-radius: 50px; /* округлось бегунка */
}
body ::-moz-selection {
  background: var(--blue-color-inverted);
  color: var(--white-color);
}
body ::selection {
  background: var(--blue-color-inverted);
  color: var(--white-color);
}
body.dark .navigation ul li:hover a, body.dark .navigation ul li.hovered a {
  color: #f3f4f8;
}

a {
  text-decoration: none;
  color: var(--blue-color);
  transition: color var(--sec);
}
a:hover {
  color: #0f89e7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  color: var(--text-color);
  text-transform: uppercase;
  text-align: center;
  text-wrap: balance;
}

li {
  list-style: none;
}

li,
p {
  text-wrap: pretty;
}

input,
select {
  outline: none;
}

.grid-container {
  padding-bottom: 1rem;
}

.container-layout {
  position: relative;
  width: 100%;
}
.container-layout .navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue-color);
  border-left: 10px solid var(--blue-color);
  transition: var(--sec);
  overflow: hidden;
}
.container-layout .navigation .logo {
  position: relative;
  margin: 0.75rem 0 1.5rem;
}
.container-layout .navigation .logo a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-layout .navigation .logo .icon {
  display: block;
  text-align: center;
}
.container-layout .navigation .logo .icon i {
  font-size: 3rem;
  color: var(--white-color);
}
.container-layout .navigation .logo .title,
.container-layout .navigation .logo .subtitle {
  white-space: nowrap;
  color: var(--white-color);
}
.container-layout .navigation .logo .title {
  margin-top: 1rem;
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.container-layout .navigation .logo .subtitle {
  font-size: 0.875em;
}
.container-layout .navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 1rem;
}
.container-layout .navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-radius: 30px 0 0 30px;
}
.container-layout .navigation ul li a {
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white-color);
  transition: none;
}
.container-layout .navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 50px;
  line-height: 56px;
  text-align: center;
}
.container-layout .navigation ul li a .icon i {
  font-size: 1.25em;
}
.container-layout .navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 50px;
  line-height: 54px;
  white-space: nowrap;
}
.container-layout .navigation ul li:hover, .container-layout .navigation ul li.hovered {
  background: var(--bg-color);
}
.container-layout .navigation ul li:hover a, .container-layout .navigation ul li.hovered a {
  color: var(--blue-color);
}
.container-layout .navigation ul li:hover a::before, .container-layout .navigation ul li:hover a::after, .container-layout .navigation ul li.hovered a::before, .container-layout .navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
}
.container-layout .navigation ul li:hover a::before, .container-layout .navigation ul li.hovered a::before {
  top: -50px;
  box-shadow: 35px 35px 0 10px var(--bg-color);
}
.container-layout .navigation ul li:hover a::after, .container-layout .navigation ul li.hovered a::after {
  bottom: -50px;
  box-shadow: 35px -35px 0 10px var(--bg-color);
}
.container-layout .navigation .nav-bottom-icons {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.container-layout .navigation .nav-bottom-icons .dark-light-mode-icon {
  display: flex;
  cursor: pointer;
}
.container-layout .navigation .nav-bottom-icons .dark-light-mode-icon .icon {
  border-radius: 50px;
  border: 1px solid transparent;
}
.container-layout .navigation .nav-bottom-icons .dark-light-mode-icon .icon:not(.show) {
  display: none;
}
.container-layout .navigation .nav-bottom-icons .dark-light-mode-icon .icon:hover {
  border: 1px solid var(--border-color);
}
.container-layout .navigation .nav-bottom-icons .dark-light-mode-icon .icon:active {
  border: 1px solid #97cef8;
}
.container-layout .navigation .nav-bottom-icons .log-out {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: var(--white-color);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50px;
}
.container-layout .navigation .nav-bottom-icons .log-out .log-out-text {
  padding-left: 15px;
}
.container-layout .navigation .nav-bottom-icons .log-out:hover {
  border: 1px solid var(--border-color);
}
.container-layout .navigation .nav-bottom-icons .log-out:active {
  border: 1px solid #97cef8;
}
.container-layout .navigation .nav-bottom-icons .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 50px;
  line-height: 54px;
  text-align: center;
}
.container-layout .navigation .nav-bottom-icons .icon i {
  font-size: 1.25em;
  color: var(--white-color);
}
.container-layout .navigation.active {
  width: 70px;
}
.container-layout .navigation.active .logo {
  padding-right: 10px;
}
.container-layout .navigation.active .logo .title,
.container-layout .navigation.active .logo .subtitle {
  visibility: hidden;
}
.container-layout .navigation.active ul,
.container-layout .navigation.active .nav-bottom-icons {
  padding: 0;
  flex-direction: column;
}
.container-layout .navigation.active ul .log-out,
.container-layout .navigation.active .nav-bottom-icons .log-out {
  padding: 0;
  width: 50px;
  height: 50px;
}
.container-layout .navigation.active ul .log-out .log-out-text,
.container-layout .navigation.active .nav-bottom-icons .log-out .log-out-text {
  display: none;
}
.container-layout .navigation.active .nav-bottom-icons {
  padding-right: 10px;
}
.container-layout .main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100dvh;
  transition: var(--sec);
}
.container-layout .main .topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  background: var(--bg-color);
  z-index: 2;
}
.container-layout .main .topbar .toggle,
.container-layout .main .topbar .user {
  flex: 0.5;
}
.container-layout .main .topbar .toggle {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.875em;
}
.container-layout .main .topbar .toggle i {
  cursor: pointer;
}
.container-layout .main .topbar .user {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.container-layout .main .topbar .user .user-img {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.container-layout .main .topbar .user .user-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-layout .main .footer {
  position: relative;
}
.container-layout .main .footer .copyright {
  padding: 4px;
  margin-bottom: 0;
  text-align: center;
  font-size: 0.75rem;
}
.container-layout .main .footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: var(--border-color);
}
.container-layout .main.active {
  width: calc(100% - 70px);
  left: 70px;
}
.container-layout .main section h2 {
  padding: 2rem;
}
.container-layout .main #table_wrapper {
  margin: 50px 0;
}
.container-layout blockquote {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 28px;
  margin-left: auto;
  background: var(--blue-color);
  color: var(--white-color);
  font-size: 0.875rem;
  border-radius: var(--rounding);
}
.container-layout blockquote strong {
  margin-right: 6px;
  font-weight: 600;
}
.container-layout .navigation hr.hr {
  color: inherit;
  border: 0;
  border-top: none;
  margin-right: 26px;
}
.container-layout .navigation hr.hr.hr-blurry {
  background-color: transparent;
  background-image: linear-gradient(90deg, transparent, var(--white-color), transparent);
  height: 2px;
  opacity: 0.25;
}
.container-layout .navigation.active hr.hr {
  margin-right: 10px;
}

.navigation,
.main {
  transition: none;
  opacity: 0;
}

.navigation.loaded,
.main.loaded {
  transition: var(--sec);
  opacity: 1;
}/*# sourceMappingURL=style.css.map */