body {
  .text-color {
    color: $text-color-light;
  }
  .text-color-blue {
    color: $blue-light;
  }
  .text-color-red {
    color: $red-light;
  }
  .text-color-green {
    color: $green-light;
  }
  .bg-color {
    background: $white;
  }
  .bg-color-blue {
    background: $blue-light;
  }
  .bg-color-red {
    background: $red-light;
  }
  .bg-color-green {
    background: $green-light;
  }

  &.dark {
    .text-color {
      color: $white;
    }
    .text-color-blue {
      color: $blue-dark;
    }
    .text-color-red {
      color: $red-dark;
    }
    .text-color-green {
      color: $green-dark;
    }
    .bg-color {
      background: $bg-color-dark;
    }
    .bg-color-blue {
      background: $blue-dark;
    }
    .bg-color-red {
      background: $red-dark;
    }
    .bg-color-green {
      background: $green-dark;
    }
  }
}
