body.dark {
  background-color: $bg-color-dark;
  color: $white;

  &::-webkit-scrollbar-track {
    background: $bg-color-dark; /* цвет зоны отслеживания */
  }
  &::-webkit-scrollbar-thumb {
    background-color: $blue-dark; /* цвет бегунка */
  }

  caret-color: $blue-light; /* цвет курсора */

  ::selection {
    background: $blue-light; /* цвет выделения текст */
  }

  .navigation {
    background: $blue-dark;
    border-left: 10px solid $blue-dark;
    ul {
      li {
        &:hover,
        &.hovered {
          background: $bg-color-dark;
          a {
            color: $white;
            &::before {
              box-shadow: 35px 35px 0 10px $bg-color-dark;
            }
            &::after {
              box-shadow: 35px -35px 0 10px $bg-color-dark;
            }
          }
        }
      }
    }
  }

  .container-layout .main .topbar {
    background: $bg-color-dark;
  }
}
