:root {
  --white-color: #f3f4f8;
  --yellow-color: #ffc107;
  --grey-color: #999;
  --border-color: #e1e3e1;
  --rounding: 8px; //* border-radius *//
  --sec: 0.4s; //* transition *//
  --shadow-button: 0 0 5px rgba(0, 0, 0, 0.2);
  --shadow-card: 0 5px 10px rgba(0, 0, 0, 0.1);
  --shadow-card-active: 0 1px 5px rgba(0, 0, 0, 0.08);
}

body {
  --text-color: #333;
  --bg-color: #f3f4f8;
  --blue-color: #37a1f2;
  --blue-color-inverted: #2a7cbb;
  --red-color: #f34639;
  --green-color: #00aa2b;
  --full-color: #fff;
}

body.dark {
  --text-color: #f3f4f8;
  --bg-color: #2f455a;
  --blue-color: #2a7cbb;
  --blue-color-inverted: #37a1f2;
  --red-color: #dc3545;
  --green-color: #198754;
  --full-color: #000;
}

$blue-light: #37a1f2;
$blue-dark: #2a7cbb;
$bg-color-dark: #2f455a;
$white: #f3f4f8;
$text-color-light: #333;

// lighten($blue-light, 10%);
// darken($blue-light, 10%);
// color-mix(in srgb, var(--color) 70%, transparent);
// color-mix(in srgb, var(--color) 70%, black);
// color-mix(in srgb, var(--color) 70%, white);
