.alertify-notifier {
  .ajs-message {
    color: var(--text-color) !important;
    text-shadow: none !important;
    font-weight: 500;
    border: none;
    border-radius: var(--rounding);
    background: var(--bg-color) !important;
    border-style: solid;
    border-width: 2px;
    box-shadow: var(--shadow-card);
    position: relative;
    text-align: start;

    &::before {
      content: '';
      width: 24px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      float: left;
      margin-right: 6px;
    }

    &.ajs-message {
      border-color: var(--blue-color);
      &::before {
        background-image: url('../img/message-light.svg');
      }
    }

    &.ajs-success {
      border-color: var(--green-color);
      &::before {
        background-image: url('../img/success-light.svg');
      }
    }

    &.ajs-error {
      border-color: var(--red-color);
      &::before {
        background-image: url('../img/error-light.svg');
      }
    }

    &.ajs-warning {
      border-color: var(--yellow-color);
      &::before {
        background-image: url('../img/warning.svg');
      }
    }
  }
}

body.dark {
  .alertify-notifier {
    &.ajs-message {
      &::before {
        background-image: url('../img/message-dark.svg');
      }
    }
    &.ajs-success {
      &::before {
        background-image: url('../img/success-dark.svg');
      }
    }
    .ajs-message {
      &.ajs-error {
        &::before {
          background-image: url('../img/error-dark.svg');
        }
      }
    }
  }
}
