.alertify-notifier {
  .ajs-message {
    color: var(--text-color) !important;
    text-shadow: none !important;
    font-weight: 500;
    border: none;
    border-radius: var(--rounding);
    background: var(--bg-color) !important;
    border-style: solid;
    border-width: 2px;
    box-shadow: var(--shadow-card);

    &.ajs-message {
      border-color: var(--blue-color);
    }

    &.ajs-success {
      border-color: var(--green-color);
    }

    &.ajs-error {
      border-color: var(--red-color);
    }

    &.ajs-warning {
      border-color: var(--yellow-color);
    }
  }
}
