.alertify-notifier {
  .ajs-message {
    color: $text-color-light !important;
    text-shadow: none !important;
    font-weight: 500;
    border: none;
    border-radius: $rounding;
    background: $white !important;
    border-style: solid;
    border-width: 2px;
    box-shadow: $shadow-card;

    &.ajs-message {
      border-color: $blue-light;
    }

    &.ajs-success {
      border-color: $green-light;
    }

    &.ajs-error {
      border-color: $red-light;
    }

    &.ajs-warning {
      border-color: #ffc107;
    }
  }
}

body.dark {
  .alertify-notifier {
    .ajs-message {
      color: $white !important;
      background: $bg-color-dark !important;

      &.ajs-message {
        border-color: $blue-dark;
      }

      &.ajs-success {
        border-color: $green-dark;
      }

      &.ajs-error {
        border-color: $red-dark;
      }

      &.ajs-warning {
        border-color: #ffc107;
      }
    }
  }
}
