.back-to-top {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  color: var(--white-color);
  background: var(--blue-color);
  transition: var(--sec);

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background: lighten($blue-light, 8%);
    color: var(--white-color);
    box-shadow: var(--shadow-button);
  }

  &:active {
    translate: 0 1px;
    box-shadow: none;
  }
}

body.dark {
  .back-to-top {
    &:hover {
      background: lighten($blue-dark, 10%);
    }
  }
}
