.btn {
  background: transparent;
  color: var(--text-color);
  border-radius: 50px;
  border-width: 2px;
  border-color: var(--blue-color);
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-wrap: nowrap;
  transition: background-color var(--sec), box-shadow var(--sec),
    color var(--sec), border var(--sec);
  min-width: 150px;

  i {
    color: var(--blue-color);
    margin-right: 6px;
    transition: var(--sec);
  }

  &:hover {
    color: var(--white-color);
    box-shadow: var(--shadow-button);

    i {
      color: var(--white-color);
    }
  }

  &:active {
    color: var(--white-color) !important;
    translate: 0 1px;
    box-shadow: none;

    i {
      color: var(--white-color);
    }
  }

  &.btn-primary {
    &:hover {
      background-color: var(--blue-color);
      border-color: var(--blue-color);

      i {
        color: var(--white-color);
      }
    }

    &:active {
      background-color: var(--blue-color) !important;
      border-color: var(--blue-color) !important;
    }
  }

  &.btn-success {
    &:hover {
      background-color: var(--green-color);
      border-color: var(--green-color);

      i {
        color: var(--white-color);
      }
    }

    &:active {
      background-color: var(--green-color) !important;
      border-color: var(--green-color) !important;
    }
  }

  &.btn-danger {
    &:hover {
      background-color: var(--red-color);
      border-color: var(--red-color);

      i {
        color: var(--white-color);
      }
    }

    &:active {
      background-color: var(--red-color) !important;
      border-color: var(--red-color) !important;
    }
  }
}
