.card {
  height: 100%;
  border: none;
  box-shadow: $shadow-card;
  border-radius: $rounding;
  overflow: hidden;

  .card-header,
  .card-footer {
    background: $blue-light;
    color: $white;
    border: none;
  }

  .card-body {
    background: $white;
    color: $text-color-light;
    padding: 26px;

    a {
      margin-bottom: 16px;
      padding-bottom: 8px;
      border-bottom: 1px solid transparent;
      transition: border-bottom $sec;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:active {
        translate: 0 1px;
      }

      &:hover {
        border-bottom: 1px solid $border-color;
      }

      .document-details {
        display: flex;
        flex-direction: column;

        p {
          overflow: hidden;
          display: -webkit-box;
          line-clamp: 1;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          margin-bottom: 0;
        }

        small {
          color: $text-color-light;

          span {
            margin-left: 6px;
          }
        }
      }

      .document-date {
        flex-shrink: 0;
      }
    }

    .no-data {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: $red-light;
    }
  }
}

body.dark {
  .card {
    .card-header,
    .card-footer {
      background: $blue-dark;
      color: $white;
    }

    .card-body {
      background: $bg-color-dark;
      color: $white;

      .document-details {
        small {
          color: $white;
        }
      }

      .no-data {
        color: $red-dark;
      }
    }
  }
}
