.card {
  height: 100%;
  border: none;
  box-shadow: var(--shadow-card);
  border-radius: var(--rounding);
  overflow: hidden;

  .card-header,
  .card-footer {
    background: var(--blue-color);
    color: var(--white-color);
    border: none;
  }

  .card-body {
    background: var(--bg-color);
    color: var(--text-color);
    padding: 26px;

    a {
      margin-bottom: 16px;
      padding-bottom: 8px;
      border-bottom: 1px solid transparent;
      transition: border-bottom var(--sec);

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:active {
        translate: 0 1px;
      }

      &:hover {
        border-bottom: 1px solid var(--border-color);
      }

      .document-details {
        display: flex;
        flex-direction: column;

        p {
          overflow: hidden;
          display: -webkit-box;
          line-clamp: 1;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          margin-bottom: 0;
        }

        small {
          color: var(--text-color);

          span {
            margin-left: 6px;
          }
        }
      }

      .document-date {
        flex-shrink: 0;
      }
    }

    .no-data {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: var(--red-color);
    }
  }
}
