.slide-buttons {
  $height: 40px;

  position: fixed;
  top: 150px;
  right: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;

  .slide-button {
    position: relative;
    left: calc(100% - $height);
    display: flex;
    font-weight: 500;
    background: var(--bg-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--blue-color);
    border-right: none;
    border-radius: 50px 0 0 50px;
    transition: left var(--sec), transform var(--sec), box-shadow var(--sec),
      border-color var(--sec);

    .icon,
    .title {
      display: block;
      align-items: center;
      line-height: calc($height + 4px);
    }

    .icon {
      min-width: $height;
      height: $height;
      text-align: center;
    }

    .title {
      padding: 0 20px 0 10px;
      height: $height;
      white-space: nowrap;
      color: var(--text-color);
    }

    .icon {
      i {
        color: var(--blue-color);
        transition: color var(--sec);
      }
    }

    &:hover {
      transform: translateX(calc(-100% + $height));
      box-shadow: var(--shadow-button);

      .icon.edit i {
        color: var(--green-color);
      }

      .icon.delete i {
        color: var(--red-color);
      }

      &:has(.edit) {
        border-color: var(--green-color);
      }

      &:has(.delete) {
        border-color: var(--red-color);
      }
    }

    &:active {
      translate: 0 1px;
      border-right: none;
      box-shadow: none;
    }
  }
}
